.footer .link a {color: #333;padding:0 0.16rem;}
.footer p {color: #999999;font-size: 0.24rem;text-align: center;padding-bottom: 0.84rem;}
.footer .link {padding-bottom: 0.24rem;padding-top: 0.96rem;font-size: 0.36rem;text-align: center;line-height: 0.36rem;color:#333;}
.jpzl_md_18313 {position: relative;border-top: 0.18rem solid #F4F4F4;width: 100%;}
.jpzl_md_18313 .jpzl_md_hd {padding:0.48rem 0 0.36rem;}
.jpzl_md_18313 .jpzl_md_hd .tit {display:block;font-size: 0.42rem;font-weight: bold;border-left: 0.12rem solid #E42626;padding-left: 0.3rem;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.jpzl_md_18313 .jpzl_md_bd {padding:0 5.33%;}
.ELMTkiWG8PMKJHxCJyKrU034200811 .footer {background-color:#F4F4F4;}
.footer {width: 100%;background-color: #D3DEEF;border-top:0 solid #E3E8F2;}
.ELMT3QNkRZOQgQzlRb3wSqpc200811 .jpzl_md_18313 {border-top-width:0;}